@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;


}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: green; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgreen; 
}
/*h1{
	font-family: 'Archivo Black', sans-serif;
}*/
.nav-item{
	margin: 20px;
}

.first-section{
	background-image: url('../img/teworh-6.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	padding: 20px;
	height: auto;

}
#about-first-section{
	background-image: url('../img/teworh-1.jpg'); 
}
#fa-section{
	background-image: url('../img/teworh-5.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
.third-section{
	padding: 60px;
}

.first-section .welcome{
	color: #fff;
	margin:  220px auto;
}

.first-section .welcome .two-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.ssc .welcome .two-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.first-section .welcome .two-buttons a{
	margin: 20px;
}
.teworh{
	font-family: 'Archivo Black', sans-serif;
	font-size: 70px;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

.second-section{
	padding: 60px;
}

.welcome-text{
	line-height: 30px;
	color: #6e6e70;
}
#form-controls{
	height: 60px;
	font-size: 20px;
	color: green;
} 

.form-control::placeholder{
	color: green;
}
textarea::placeholder{
	color: green;
}
.all-headers{
	font-family: 'Archivo Black', sans-serif;
}
.card-header{
	background: transparent;
}
.form-container{
	background: #FFF;
	padding: 35px;
}
ul li{
	color: #6e6e70;
}

footer{
	color: #6e6e70;
	padding: 60px;
}
footer a{
	color: #6e6e70;
}
footer a:hover{
	color: green;
	text-decoration: none;
}

footer span a{
	color: green;
	text-decoration: none;
}

.footer-social-media{
	color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

}
.footer-social-media p a{
	margin: 10px;
	color: green;
	text-decoration: none;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.mapsection{
  width: 100%;
  padding: 5px;
  margin: 0px;
}
.navbar-brand{
	 margin-left: 60px;
}
label{
	font-size: 20px;
	color: green;
	font-weight: bold;
}
.gallery-section{
	background: #fff;
	padding: 20px;
	height: auto;
}
.ssc{
	padding: 60px;
	background-image: url('../img/teworh-7.jpg'); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.why-us{
	padding: 60px;
}
.first-letter::first-letter{
	font-size: 400%;
}










/**Media Queries**/
@media screen and (max-width: 600px){
	.nav-item{
		margin: 7px;
		padding: auto;
	}
	nav button {
		margin: 15px;
	}
	.navbar-nav .nav-item  a{
		width: 100%;
		display: block;
		margin: auto;

	}
	.navbar-brand{
	 margin-left: 0px;
	}
	.navbar-nav .nav-item .nav-link{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid  green;
	}
	.first-section{
		height: auto;
	}
	 .row div{
		margin-bottom: 12px;
	}
	#one-alone a{
		display: block;
		width: 100%;
		margin: auto;
	}
	footer p{
		display: block;
		margin: auto;
		text-align: center;
	}
	footer h3{
		display: block;
		margin: auto;
		text-align: center;
	}
	 .card{
    margin-bottom: 10px;
    width: 100%;
  }
  .second-section{
  	width: 100%;
  	padding: 20px;
  }
  .third-section{
  	width: 100%;
  	padding: 20px;
  }
  .card h3, p, a{
  
  	text-align: center;
  }
  .card a{
  	display: block;
  	width: 100%;
  	margin: auto;
  }
  .all-headers{
  	display: block;
  	margin: auto;
  	text-align: center;
  }
  footer{
		padding: 20px;
	}
	.teworh{
		font-family: 'Archivo Black', sans-serif;
		font-size: 40px;
		text-shadow: 3px 2px 7px rgba(150, 204, 150, 1);
	}
	.form-container{
		margin: 10px;
	}
}